:root{
  --bg-color: black;
  --text-color: white;
}

.light-theme{
  --bg-color: white;
  --text-color: black;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: arial;
  transition: 0.5s;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
  background-color: var(--bg-color);
  border-radius: 50%;
}

.move-button {
  background-color: transparent;
  border: 5px solid var(--text-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  cursor: pointer;
}

.js-result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.js-score{
  margin-top: 60px;
}

.button-2{
  /* background-color: var(--text-color); */
  border:none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}